In [69]:
import pandas as pd

In [70]:

df = pd.read_csv("../datasets/emissions.csv")

In [71]:
df.head()

,Area,Item,Element,Unit,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,Crop Residues,Direct emissions (N2O),kilotonnes,0.520,0.5267,0.8200,0.9988,0.8225,1.1821,...,1.0321,1.3726,1.4018,1.4584,1.2424,1.1940,1.0617,0.8988,1.2176,1.3170
1,Afghanistan,Crop Residues,Indirect emissions (N2O),kilotonnes,0.117,0.1185,0.1845,0.2247,0.1851,0.2660,...,0.2322,0.3088,0.3154,0.3281,0.2795,0.2687,0.2389,0.2022,0.2740,0.2963
2,Afghanistan,Crop Residues,Emissions (N2O),kilotonnes,0.637,0.6452,1.0045,1.2235,1.0075,1.4481,...,1.2643,1.6815,1.7173,1.7865,1.5220,1.4627,1.3005,1.1011,1.4916,1.6133
3,Afghanistan,Crop Residues,Emissions (CO2eq) from N2O (AR5),kilotonnes,168.807,170.9884,266.1975,324.2195,266.9995,383.7498,...,335.0379,445.5958,455.0727,473.4174,403.3181,387.6130,344.6447,291.7838,395.2689,427.5284
4,Afghanistan,Crop Residues,Emissions (CO2eq) (AR5),kilotonnes,168.807,170.9884,266.1975,324.2195,266.9995,383.7498,...,335.0379,445.5958,455.0727,473.4174,403.3181,387.6130,344.6447,291.7838,395.2689,427.5284

In [72]:
df[df['Element'] == 'Emissions (CO2)']

,Area,Item,Element,Unit,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
48,Afghanistan,Drained organic soils (CO2),Emissions (CO2),kilotonnes,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
55,Afghanistan,On-farm energy use,Emissions (CO2),kilotonnes,2.505850e+01,2.853610e+01,3.747700e+01,3.871230e+01,4.161290e+01,5.471410e+01,...,3.930081e+02,3.632833e+02,2.560833e+02,2.116509e+02,2.318452e+02,1.816056e+02,1.327927e+02,1.328417e+02,1.170798e+02,1.170798e+02
59,Afghanistan,Forestland,Emissions (CO2),kilotonnes,-2.388803e+03,1.219016e+02,1.219016e+02,1.219016e+02,1.219016e+02,1.219016e+02,...,-2.462191e+02,-2.462191e+02,-2.462191e+02,-2.462191e+02,-2.462191e+02,1.546574e+02,1.546574e+02,1.546574e+02,1.546574e+02,1.546574e+02
61,Afghanistan,Net Forest conversion,Emissions (CO2),kilotonnes,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
69,Afghanistan,Fires in organic soils,Emissions (CO2),kilotonnes,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58722,OECD,Agri-food systems,Emissions (CO2),kilotonnes,1.899433e+06,1.863324e+06,1.866430e+06,1.891530e+06,1.906577e+06,1.918157e+06,...,1.762764e+06,1.743015e+06,1.778369e+06,1.763314e+06,1.776992e+06,1.850725e+06,1.858191e+06,1.859871e+06,1.886488e+06,1.759777e+06
58741,OECD,LULUCF,Emissions (CO2),kilotonnes,-6.169099e+05,-5.953943e+05,-5.955402e+05,-5.958026e+05,-5.956964e+05,-5.956050e+05,...,-7.315450e+05,-7.314916e+05,-7.316108e+05,-7.317735e+05,-7.318264e+05,-4.332621e+05,-4.330293e+05,-4.316775e+05,-4.312161e+05,-4.309865e+05
58747,OECD,AFOLU,Emissions (CO2),kilotonnes,-6.169099e+05,-5.953943e+05,-5.955402e+05,-5.958026e+05,-5.956964e+05,-5.956050e+05,...,-7.315450e+05,-7.314916e+05,-7.316108e+05,-7.317735e+05,-7.318264e+05,-4.332621e+05,-4.330293e+05,-4.316775e+05,-4.312161e+05,-4.309865e+05
58753,OECD,All sectors with LULUCF,Emissions (CO2),kilotonnes,1.272637e+07,1.266766e+07,1.273425e+07,1.292657e+07,1.307081e+07,1.309921e+07,...,1.216647e+07,1.196997e+07,1.201081e+07,1.188487e+07,1.180118e+07,1.197901e+07,1.200355e+07,1.211516e+07,1.173948e+07,1.045820e+07
58760,OECD,All sectors without LULUCF,Emissions (CO2),kilotonnes,1.334328e+07,1.326305e+07,1.332979e+07,1.352237e+07,1.366651e+07,1.369481e+07,...,1.289801e+07,1.270146e+07,1.274243e+07,1.261664e+07,1.253301e+07,1.241227e+07,1.243658e+07,1.254684e+07,1.217070e+07,1.088919e+07

In [73]:
df[(df['Element'] == 'Emissions (CO2)') & (df['Item'] == 'All sectors with LULUCF')].sort_values('2011',
                                                                                                 ascending=False)[
    ['Area', '2011']].dropna()

                        Area          2011
50939                  World  3.554947e+07
58538  Non-Annex I countries  2.194034e+07
53482                   Asia  1.827977e+07
58263      Annex I countries  1.247130e+07
58753                   OECD  1.216647e+07
...                      ...           ...
7223                 Burundi -1.430676e+03
16308                   Fiji -1.566882e+03
9012                   Chile -1.760956e+03
41695        Solomon Islands -1.747123e+04
37636                Romania -1.953694e+05

[271 rows x 2 columns]

In [74]:
df[(df['Element'] == 'Emissions (CO2)') & (df['Area'] == 'Romania')][['Item', '2011']]

                                 Item         2011
37451     Drained organic soils (CO2)     541.5399
37461              On-farm energy use    1000.4525
37465                      Forestland -287048.9424
37466                      Forestland  -25798.8458
37469           Net Forest conversion    1343.3200
37470           Net Forest conversion     872.5241
37479          Fires in organic soils       0.0000
37494       Waste - agri-food systems      23.1798
37499       Fertilizers Manufacturing    1232.6626
37504         On-farm electricity use     379.5043
37510                 Food Processing    1923.3486
37516                  Food Packaging     768.7074
37522                     Food Retail     759.4280
37529      Food Household Consumption    1657.2647
37535                  Food Transport    1107.7550
37541                          Energy   81300.0000
37547                            IPPU    8490.0000
37554                           Waste       4.6700
37565             Farm-gate emissions    1541.9924
37571                 Land Use change    1343.3200
37577  Emissions on agricultural land    2885.3124
37583       Pre- and post- production    7851.8504
37590               Agri-food systems   10737.1628
37601                IPCC Agriculture      90.6501
37622                          LULUCF -285164.0825
37623                          LULUCF  -29287.1052
37630                           AFOLU -285164.0825
37636         All sectors with LULUCF -195369.4125
37643      All sectors without LULUCF   89794.6700

In [75]:
df_melt = df.melt(id_vars=['Area', 'Item', 'Element', 'Unit'], var_name='Year', value_name='Emission')
df_melt['Year']=pd.to_numeric(df_melt['Year'])
print(len(df_melt))
df_melt.head()

1234065

,Area,Item,Element,Unit,Year,Emission
0,Afghanistan,Crop Residues,Direct emissions (N2O),kilotonnes,2000,0.520
1,Afghanistan,Crop Residues,Indirect emissions (N2O),kilotonnes,2000,0.117
2,Afghanistan,Crop Residues,Emissions (N2O),kilotonnes,2000,0.637
3,Afghanistan,Crop Residues,Emissions (CO2eq) from N2O (AR5),kilotonnes,2000,168.807
4,Afghanistan,Crop Residues,Emissions (CO2eq) (AR5),kilotonnes,2000,168.807

In [76]:
df2 = pd.read_csv('../datasets/sus.csv')
df2.head()

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

In [77]:
merged = pd.merge(df_melt, df2, left_on=['Area', 'Year'], right_on=['Entity', 'Year'], how='left')

In [78]:
merged.to_csv('merged_to_csv', index=False)

In [79]:
df = pd.read_csv("../datasets/emissions.csv")
df["Area"]. drop_duplicates()

0                                    Afghanistan
224                                      Albania
463                                      Algeria
698                               American Samoa
799                                      Andorra
                          ...
57570          Low Income Food Deficit Countries
57785    Net Food Importing Developing Countries
57999                          Annex I countries
58275                      Non-Annex I countries
58550                                       OECD
Name: Area, Length: 280, dtype: object